.box {
  font-family: 'Roboto Slab', serif;
  height: 300px;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  margin-top: 50px;
  font-size: 50px;
}

.current {
  color: red;
}
